In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [30]:
answers={} # создадим словарь для ответов
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
answers['2'] = '2. Gods and Generals (tt0279111)'
answers['3'] = '3. Winnie the Pooh (tt1449283)'
answers['4'] = '2. 110'
answers['5'] = '1. 107'
answers['6'] = '5. Avatar (tt0499549)'
answers['7'] = '5. The Lone Ranger (tt1210819)'
answers['8'] = '1. 1478'
answers['9'] = '4. The Dark Knight (tt0468569)'
answers['10'] = '5. The Lone Ranger (tt1210819)'
answers['11'] = '3. Drama'
answers['12'] = '1. Drama'
answers['13'] = '5. Peter Jackson'
answers['14'] = '3. Robert Rodriguez'
answers['15'] = '3. Chris Hemsworth'
answers['16'] = '3. Matt Damon' 
answers['17'] = '2. Action' 
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' 
answers['19'] = '5. 2015' 
answers['20'] = '1. 2014' 
answers['21'] = '4. Сентябрь'
answers['22'] = '2. 450'
answers['23'] = '5. Peter Jackson'
answers['24'] = '5. Four By Two Productions'
answers['25'] = '3. Midnight Picture Show'
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show'}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [22]:
# код для решения данного вопроса:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov[mov.budget == mov.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [24]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov[mov.runtime == mov.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [25]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov[mov.runtime == mov.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [27]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [28]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [4]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
mov[mov.profit == mov.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [5]:
# создание новой колонки profit, еще один метод
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
cols = ["revenue","budget"]
mov = mov.eval("profit = {}".format("-".join(cols)))

# 7. Какой фильм самый убыточный?

In [24]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
mov[mov.profit == mov.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [6]:
mov[mov.profit >0].profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [118]:
mov_1 = mov[mov['release_year'] == 2008]
mov_1[mov_1['revenue'] == mov_1['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

In [137]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
mov_1 = mov[mov['release_year'] == 2012]
mov_1[mov_1['profit'] == mov_1['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [2]:
# Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
mov[(mov['release_year'] >= 2012) & (mov['release_year'] <= 2014)]
mov[mov['profit'] == mov['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [148]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
sum_genres=pd.Series(mov['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
sum_genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [159]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
import collections
table_genres=[]
c=collections.Counter()
for genres in mov_1[mov_1.profit>0].genres:
    genres_list=genres.split('|')
    for genre in genres_list:
        table_genres.append(genre)
for table_genre in table_genres:
    c[table_genre]+=1
print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [273]:
mov.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [3]:
# 
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
data_tmp = mov[mov.genres.str.contains("Action")]
def counter(mov, x):
    data_tmp=mov[x].str.cat(sep='|') # превращаем все в одну строку
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    return data_tmp 
sum_gen=counter(data_tmp,'director')
sum_gen[:5]

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [236]:
mov_a = mov[mov['release_year'] == 2012]
mov_a[mov_a['revenue'] == mov_a['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [238]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov[
    (mov['budget'] > mov['budget'].mean())
    & mov.cast.str.contains('Matt Damon')
].imdb_id.count()

18

In [242]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov[
    (mov['budget'] > mov['budget'].mean())
    & mov.cast.str.contains('Tom Cruise')
].imdb_id.count()

15

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
# определение путём перебора жанров
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
movies = mov[mov['genres'].str.contains('Action')]
movies1 = movies[movies['cast'].str.contains('Nicolas Cage')]
movies1.describe()

             budget       revenue     runtime  vote_average  release_year
count  1.700000e+01  1.700000e+01   17.000000     17.000000     17.000000
mean   6.870588e+07  1.306169e+08  109.588235      5.582353   2008.411765
std    4.041158e+07  1.298403e+08   13.062632      0.727354      3.658190
min    1.600000e+07  2.106557e+06   94.000000      3.800000   2000.000000
25%    4.000000e+07  2.893140e+07   96.000000      5.200000   2007.000000
50%    5.700000e+07  8.810000e+07  109.000000      5.800000   2009.000000
75%    1.000000e+08  2.152837e+08  118.000000      6.000000   2011.000000
max    1.500000e+08  4.573632e+08  134.000000      7.000000   2014.000000

# 18. Самый убыточный фильм от Paramount Pictures

In [6]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
movies = mov[mov['production_companies'].str.contains('Paramount Pictures')]
movies[movies['profit'] == movies['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [8]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [12]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue']-mov['budget']
movies = mov[mov['production_companies'].str.contains('Warner Bros')]
movies.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [15]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['month'] = mov['release_date'].apply(lambda d: d.split('/')[0])
s = mov['month'].value_counts()
display(s)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
# наглядно в ответе на вопрос 21. 147+142+161 = 450 фильмов вышло летом

# 23. Для какого режиссера зима – самое продуктивное время года?

In [43]:
# фильмы, выпущенные зимой по режиссерам
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['month'] = mov['release_date'].apply(lambda d: d.split('/')[0])
mov_1 = mov[mov['month'] == ('1' and '2' and '12')]
s = mov_1['director'].value_counts()
s

Peter Jackson        7
Clint Eastwood       5
Nancy Meyers         4
Steven Soderbergh    4
Edward Zwick         3
                    ..
Tim Hill             1
McG                  1
Andy Fickman         1
John Moore           1
Courtney Solomon     1
Name: director, Length: 145, dtype: int64

In [44]:
# фильмы, выпущенные весной по режиссерам
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['month'] = mov['release_date'].apply(lambda d: d.split('/')[0])
mov_1 = mov[mov['month'] == ('3' and '4' and '5')]
s = mov_1['director'].value_counts()
s

Ridley Scott                      4
J.J. Abrams                       3
Todd Phillips                     3
George Lucas                      2
Wolfgang Petersen                 2
                                 ..
Jon Favreau                       1
Lana Wachowski|Lilly Wachowski    1
Elizabeth Banks                   1
Kirk Jones                        1
David Cronenberg                  1
Name: director, Length: 127, dtype: int64

In [45]:
# фильмы, выпущенные летом по режиссерам
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['month'] = mov['release_date'].apply(lambda d: d.split('/')[0])
mov_1 = mov[mov['month'] == ('6' and '7' and '8')]
s = mov_1['director'].value_counts()
s

Paul W.S. Anderson      3
Rob Zombie              2
Brett Ratner            2
Joshua Michael Stern    2
Steven Quale            2
                       ..
Vicky Jenson            1
Marcus Nispel           1
Tarsem Singh            1
Jesse Peretz            1
Courtney Solomon        1
Name: director, Length: 147, dtype: int64

In [46]:
# фильмы, выпущенные осенью по режиссерам
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
mov['month'] = mov['release_date'].apply(lambda d: d.split('/')[0])
mov_1 = mov[mov['month'] == ('9' and '10' and '11')]
s = mov_1['director'].value_counts()
s

Chris Columbus      3
Tony Scott          3
Robert Zemeckis     3
Francis Lawrence    3
George Miller       2
                   ..
Xavier Gens         1
John Moore          1
Brian De Palma      1
Edward Zwick        1
Stephen Frears      1
Name: director, Length: 134, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [39]:
import pandas as pd
import numpy as np
mov = pd.read_csv('movie_bd_v5.csv')
mov['prod_companies'] = mov['production_companies'].apply(lambda c: c.split(sep = '|'))
mov_to_work = mov[['original_title', 'prod_companies']]
mov_new = mov_to_work.explode('prod_companies')
needed_df = (mov_new.groupby('prod_companies')['original_title']
                            .apply(lambda x: np.mean(x.str.len()))
                            .reset_index(name='mean_len_of_title')
                            .sort_values(ascending = False, by = 'mean_len_of_title'))
needed_df

                  prod_companies  mean_len_of_title
583      Four By Two Productions               83.0
817      Jim Henson Company, The               59.0
446                Dos Corazones               47.0
1258                Polsky Films               46.0
1094   Museum Canada Productions               46.0
...                          ...                ...
512        Everest Entertainment                3.0
169         Berlanti Productions                3.0
624   Global Entertainment Group                2.0
1748             XM2 Productions                2.0
803           Ixtlan Productions                2.0

[1771 rows x 2 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
import pandas as pd
import numpy as np
mov = pd.read_csv('movie_bd_v5.csv')
data['prod_companies_new'] = data['production_companies'].apply(lambda c: c.split(sep = '|'))
title_companies = data[['overview', 'prod_companies_new']]
title_companies_exploded = title_companies.explode('prod_companies_new')
title_companies_exploded['words'] = title_companies_exploded.overview.apply(lambda c: c.split(sep = ' '))
title_companies_exploded['word_count'] = title_companies_exploded.words.apply(lambda x: len(x))
title_companies_grouped = title_companies_exploded.groupby(['prod_companies_new']).mean().sort_values(['word_count'], ascending=False)
title_companies_grouped

                                       word_count
prod_companies_new
Midnight Picture Show                       175.0
Heineken Branded Entertainment              161.0
Room 9 Entertainment                        161.0
98 MPH Productions                          159.0
Brookwell-McNamara Entertainment            156.0
...                                           ...
Henceforth                                   13.0
Our Stories Films                            13.0
London Boulevard                             13.0
Motion Picture Corporation of America        11.0
Empire Pictures                              11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [31]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show'}

In [32]:
# и убедиться что ни чего не пропустил)
len(answers)

25